.nav-container {
    display: flex;
    background-color: brown;
}
h1 {
    display: flex;
    text-align: center;
    align-items: center;
    color:  rgb(247, 245, 249);
    background-color:  rgb(95, 0, 185);
    padding: 10px;
    margin: 20px;
    border-radius: 20% 40% 20% 50%;
    border: 1px solid rgba(228, 228, 224, 0.513);
    box-shadow: 5px 2px 0px rgba(184, 180, 180, 0.638);
    font-size: 18px;
    font-family: sans-serif;
}
h1:hover {
    transition: 2000ms;
    background-color: rgb(247, 245, 249);
    color:  rgb(95, 0, 185);
    border: 1px solid
}
.ul-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 8px;
    width: 100%;
}

.ul-nav li {
    padding: 10px;
    background-color: rgba(22, 151, 15, 0.716);
    margin: 3px;
    border: 1px solid black;
    border-radius: 15%;
}

li:hover {
    background-color: rgba(130, 42, 42, 0.5);
    transition: 800ms;
    border: 1px solid white;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

a:hover {
    transition: 600ms;
    color: rgba(255, 255, 255, 0.70);
}

